<!DOCTYPE html>
<html>

  <head>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="leaderboard" v-on:keyup="changeLeaderBoard">
       <div class="row">
         <div class="col-xs-12 col-lg-2 list" 
            v-for="(item, index) in items"
            v-bind:class="{'col-lg-offset-1': index % 5 === 0}">
           <button class="col-xs-12"
            v-bind:class="{
            'active': index === currentPos,
            'inactive': index > currentPos,
            'default': currentPos > index}" v-on:click="setCurrentPos(index)">{{ item }}
          </button>
         </div>
       </div>
    </div>
    <script src="leaderboard.js"></script>
  </body>
</html>