      .default {
  background-color: green;
}

.inactive {
  background-color: grey;
}

.default, .active {
  color: white;
}

.active {
  background-color: red;
}

.list > button {
  max-width: 250px;
  text-align: center;
}